*{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}

nav{
    /* border: 2px solid black; */
    display: flex;
    height: 4vmax;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.439);

}

#first{
    /* border: 2px solid green; */
    width: 20%;
    display: flex;
    justify-content: center;

}
#first>a{
    font-size: 2vmax;
    font-weight: 900;
    text-decoration: none;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#second{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid pink; */
    width: 60%;
    align-self: stretch;
    /* align-self: center; */

}

#second>a{
    font-size: 1.4vmax;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second>a:hover{
    border-bottom: 2px solid crimson;
    
}

#third{
    /* border: 2px solid yellow; */
    width: 20%;
    display: flex;
    justify-content: center;
}
#third>img{
    height: 2.3vmax;

}

.home{
    display: flex;
    /* border: 1px solid black; */
    height: 90vh;
    background-image: radial-gradient(rgb(230,221,255),rgb(184,184,223));
} 
.dive{
    width: 100%;
    /* border:1px solid green; */
   
}

#right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

#right>img{
    /* position: relative;
    left: 50%; */
    
    width: 60vh;
    height: 70vh;
    margin-right: 40px;
    mix-blend-mode:darken;
}

#left{
    padding: 2vmax;
   box-sizing: border-box;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

   
}
#left>h1{
    /* border: 2px solid rebeccapurple; */
    font-size: 5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#left>h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vmax;
    margin-top: -8%;
    margin-left: 2%;
    /* border: 2px solid yellow; */
    padding: -10%;
}
#left>p{
    font-size: 1.2vmax;
    /* border: 2px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
}

#left>button{
    width: 11vmax;
    height:3.5vmax;
    border:none;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}
#left>button:hover{
    background-color: rgba(255, 255, 255, 0.542);
}

.products{
    /* border: 1px solid black; */
    text-align: center;
    margin: auto;
    /* display: flex; */
}
.products h1{
    font-size: 2.5rem;
    border-bottom: 5px solid crimson;
    padding: 1vmax;
    width: 25vw;
    margin: 5vmax auto;

}
.product{
    display: flex;
    flex-wrap: wrap;
    max-width: 100vmax;
    justify-content: center;
    /* background-color: rgba(210, 186, 186, 0.596); */
    margin: auto;
    gap: 10px;
    
    
}
.products_img{
    /* border: 1px solid black; */
    padding: 1.8vmax;
    height: 25rem;
    transition: all 0.5s;
    cursor: pointer;
    
   
}
.products_img>img{
    /* border: 5px solid black; */
    width: 18rem;
    height: 22rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.439);
    /* mix-blend-mode:darken; */
    
   
}
.products_img:hover{
    transform: translateY(-10px);
}

footer{
    box-sizing: border-box;
    /* border: 2px solid crimson; */
    /* width: 100%; */
    display: flex;
    height: 10rem;
    background-color: black;
    color: white;
    margin-top: 8rem;
    /* justify-content: center; */
    align-items: center;
    padding: 2%;

}

.leftfooter{
    width: 20%;
    /* border: 2px solid white; */
    text-align: center;
    

}
.centre{
    width: 60%;
    /* border: 2px solid white; */
    text-align: center;

}

.centre h1{
    color: crimson;
    
}

.rightfooter{
    display: flex;
    flex-direction: column;
    width: 20%;
    /* border: 2px solid white; */
    text-align: center;

}

.rightfooter h4{
    text-decoration: underline;
    font-size: large;
}
.rightfooter a{
    margin: 2px auto;
    color: white;
    text-decoration: none;
    
}